<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ asset('bundles/app/css/myStyle.css') }}" rel="stylesheet" type="text/css">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>

<ul>
    <li>
        <a href="{{ path('get-all-goods') }}">Home</a>
    </li>
    <li>
        <a href="{{ path('add-new-good') }}">Add Good</a>
    </li>
    {#<li><a>{{ href="{{ path('get-all-goods') }}" }}</a></li>#}
    {#<li><a>{{ href="{{ path('add-new-good') }}" }}</a></li>#}
</ul>
            <p>{% block body %}      {% endblock body %}</p>
</body>

</html>
