{% extends '@App/layout-goods.html.twig' %}

{% block body %}
    <ul>
        {% for goods in goods %}
            <li><a href="{{ path('get-good', {id:goods.id })  }}">{{ goods.goodsName }}</a>
                {{ goods.description }}
                {{ goods.price }}</li>
            {#{{ goods.goodsName }}#}
            {#<h3><a href="{{  }}">{{ goods.goodsName }}</a></h3>#}
            {#<p>{{ article.content }}</p>#}
        {% endfor %}
    </ul>
{% endblock body %}

{% block stylesheets %}
    <style>

    </style>
{% endblock stylesheets %}


{% block title %}
    all goods
{% endblock title %}